body {
  color: blue;
}

.outer-container {
  height: 1000px;
  padding: 30px;
}

.inner-container {
  height: 100%;
  background-color: pink;
  padding: 20px;
  font-weight: bold;
}

.title {
  text-align: center;
} 

hello-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}