.outer-container {
  height: 1000px;
  padding: 30px;
}

.inner-container {
  height: 100%;
  background-color: rebeccapurple;
  padding: 20px;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 100px;
} 

.sub-heading {
  text-align: center;
  font-size: 70px;
  color: rgb(0, 0, 0);
}

#start-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 80px 300px;
  text-align: center;
  font-size: 40px;
  position: relative;
  right:-200px;
}

.body {
  align-content:center;

}